<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 80px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
</style>
</head>
<body>

<center><h1></h1></center>
<center><h1></h1></center>
<center><h1></h1></center>
    
<center><h2>Running Model...</h2></center>

<center><div class="loader"></div></center>
    <center> Something below..</center>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<!--     onclick="$('#loading').show();" -->
<!-- custom img loading <div id="loading" style="display:none;"><img src="loading.gif" alt="" />Loading!</div> -->
    


</body>
</html>